.textImg {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  gap: 2%; 
}

.text-content {
  flex: 1;
  min-width: 300px;
  padding: 1%;
  background-color: rgb(216, 215, 215);
  border-radius: 20px;
  @media (max-width: 1000px) {
    text-align: center;
  }
}
.image-content {
  flex: 0 0 20%;
}

.image-content img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 1000px) {
  .textImg {
    flex-direction: column; 
  }
  
  .image-content {
    flex: 0 0 50%; 
    order: -1; 
  }
}