.centered-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.centered-image {
  width: 20%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .centered-image {
    width: 90%;
  }
}