.aboutInfo, .nameInfo, .mobileAppInfo
{
  margin:2%;
  font-size: 20px;
  text-align: justify;
  @media (max-width: 414px) 
  {
    font-size: 15px;
    text-align: left;
  }
}
.nameInfo
{
  font-size: 25px;
  font-weight: bold;
  @media (max-width: 414px) 
  {
    font-size: 20px;
    text-align: center;
  }
}
.mobileAppInfo
{
  background-color: rgb(228, 228, 228);
  padding: 2%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
}
.hidden-block {
  display: none;
  margin-top: 10px;
  padding: 15px;
  background: #f0f0f0;
  border-radius: 5px;
}