body .hidden-block {
  background-color: orange;
  color: white;
  border-radius: 20px;
}
.header
{
  padding: 1%;
  background-color: #d1d1d1;
  color: rgb(49, 49, 49);
  font-family: 'Arial';
  font-size: 25px;
  position: sticky; top: 0;
  z-index: 100;
    @media (max-width: 414px) 
  {
    padding-left: 5%;
  }
}
body
{
  margin: 0%;
  background-color: rgb(240, 240, 240);
}

.Information
{
  background-color: white;
  margin: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  border-radius: 25px;
  font-family: 'Arial';
    @media (max-width: 414px) 
  {
    padding: 5%;
    font-size: 15px;
  }
}
.Info
{
  text-align: center;
  font-size: 50px;
  margin: 0%;
  padding: 0%;
    @media (max-width: 414px) 
  {
    font-size: 25px;
  }
}
.footer
{
  padding: 1%;
  background-color: #4d63c5;
  color: white;
  font-family: 'Arial';
  font-size: 25px;
  padding-bottom: 25%;
  @media (max-width: 414px) 
  {
    padding-left: 5%;
  }
}
.toggle-btn 
{
  background: none; 
  border: none; 
  padding: 0; 
  cursor: pointer; 
  text-decoration: underline; 
  color: orange;
  padding-left: 2%;
  font-size: 25px;
}
.hidden-block
{
  background-color: orange;
  color: white;
  margin-left: 2%;
  margin-right: 50%;
}
li
{
  margin-top: 2%;
}
ul
{
  @media (max-width: 414px) 
  {
    padding-left: 15px;
  }
}
