.header
{
  padding: 1%;
  background-color: #d1d1d1;
  color: rgb(49, 49, 49);
  font-family: 'Arial';
  font-size: 25px;
  position: sticky; top: 0;
  z-index: 100;
    @media (max-width: 414px) 
  {
    padding-left: 5%;
  }
}
.Echolot
{
  margin: 8%;
  margin-top: 5%;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 0;
  padding: 5%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 25px;
  font-family: 'Arial';
    @media (max-width: 414px) 
  {
    flex-direction: column;
  }
  
  #main-image {
    width: 100%;
  }
  
  .gallery img {
    width: 60px;
    height: auto;
    @media (max-width: 414px) 
    {
      width: 66%;
      height: auto;
    }
  }
}
.Annotations
{
  display: flex;
  flex-direction: column;
  margin: 10%;
  margin-top: 0;
  width: 75%;
}
img {
  max-width: 100%;
  height: auto;
  display: block; 
}
.Photo
{
  width: 25%;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
    @media (max-width: 414px) 
  {
    width: 90%;
    padding: 5%;
  }
}
.Ann
{
  font-size: 50px;
  margin: 0%;
  padding: 0%;
    @media (max-width: 414px) 
  {
    font-size: 20px;
  }
}
.Annot
{
  font-size: 25px;
    @media (max-width: 414px) 
  {
    font-size: 15px;
  }
}
.download_button {
  text-decoration: none;
  background-color: #2142d3;
  color: white;
  text-align: center;
  border-radius: 25px;
  border: none;
  cursor: pointer; 
  transition: background-color 0.3s ease;
  border: 3px solid #2142d3;
}
.Echolot .download_button
{
  width: 45%;
  margin-top: 5%;
  padding: 2% 0;
    @media (max-width: 414px) 
  {
    width: 100%;
  }
}

.download_button:hover {
  color: #2142d3;
  background-color: #ffffff;
}
.Inst
{
  text-align: center;
  font-size: 50px;
  margin: 0%;
  padding: 0%;
    @media (max-width: 414px) 
  {
    font-size: 25px;
  }
}
body
{
  margin: 0%;
  background-color: rgb(240, 240, 240);
}
.details-js {
  background: rgb(240, 240, 240);
  border-radius: 25px;
  margin: 2%;
  margin-top: 0;
  padding: 2%;
}

.details-js summary {
  font-size: 25px;
  list-style: none;
  cursor: pointer;
  padding-left: 30px;
  position: relative;
    @media (max-width: 412px) 
  {
    font-size: 15px;
    padding-top: 3%;
    padding-bottom: 3%;
  }
}

.details-js summary::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 2px;
  background: #000;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.details-js summary::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 2px;
  background: #000;
  transform: translateY(-50%) rotate(90deg);
  transition: all 0.3s;
}

.details-js[open] summary::before {
  transform: translateY(-50%) rotate(45deg);
}

.details-js[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.details-js summary::-webkit-details-marker {
  display: none; 
}

.details-js .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.Instruction
{
  background-color: white;
  margin: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 2%;
  border-radius: 25px;
  font-family: 'Arial';
    @media (max-width: 414px) 
  {
    padding: 5%;
    font-size: 15px;
  }
}
.Instruction .download_button
{
  width: 15%;
  margin: 1%;
  margin-left: 2%;
  padding: 1% 1%;
  display: inline-block;
    @media (max-width: 414px) 
  {
    margin-top: 5%;
    width: 50%;
  }
}
.Inst
{
  padding-top: 1%;
  padding-bottom: 1%;
}
.gallery {
  display: flex;
  width: 100%;
  gap: 5px;
  margin-top: 10px;
}

.gallery img {
  flex: 1;
  width: 0;
  height: auto; /* Автоматическая высота */
  object-fit: contain; /* Показывает изображение целиком */
  min-width: 0; /* Фиксит баг с переполнением в flex-контейнере */
}

.gallery img:hover {
  transform: scale(1.03);
}
.videos
{
  margin: 8%;
  margin-top: 2%;
  padding: 1%;
  background-color: white;
  border-radius: 25px;
  text-align: center;
  font-size: 50px;
  font-family: 'Arial';
    @media (max-width: 414px) 
  {
    font-size: 25px;
  }
}
.footer
{
  padding: 1%;
  background-color: #4d63c5;
  color: white;
  font-family: 'Arial';
  font-size: 25px;
  padding-bottom: 25%;
    @media (max-width: 414px) 
  {
    padding-left: 5%;
  }
}
.feature
{
  font-family: 'Arial';
}